In [1]:
# Data Science and Programming Exercises

In [2]:
## Introduction

In [8]:
#list 
##Python
##R
##SQL
##Julia
##Scala

NameError: name 'Python' is not defined

In [10]:
# Data Sciences Libraries
##data science libraries are essential for data manimuplation, visualization and analysis
##Numpy
##pandas
##matplotlib
##Scikit-learn
##Tensorflow

In [12]:
##Tool             | category |
##Juypter Notebook | Development Environment |
Github           | Version control    |
Apache Spark     | Big data processing
Tableau          | Data Visualization
Anaconda         | Python distribution |


## Arthmetic Expression Examples
    In this section , basic arthmetic expression in python
a = 3
b = 10
result = (a * b) + 20
result

SyntaxError: invalid syntax (1614413871.py, line 1)

In [ ]:
def convert_minutes_to_hrs(minutes)
    hrs = minutes / 60
    return hrs
minutes = 120
hrs = convert_minutes_to_hrs(minutes)
hrs